.card-footer
{
    display: flex;
    justify-content: space-between;
    padding: 1em 0em;
}
.tags
{
    margin-left: 1em;
}
.actions
{
    margin-right: 1em;
}
.actions button
{
    padding: 0.1em 0.3em;
    margin-right: 0.3em;
}
